.btn span.glyphicon {
  opacity: 0;
}

.btn.active span.glyphicon {
  opacity: 1;
}

.btn-group-vertical{
  position: absolute;
  top:100px;
  left:900px;
}

.btn-danger{
  background-color: #E76F51 !important;
  border-color: #E76F51 !important;
  font-family: times;
  font-weight: bold;
}

.btn-primary{
  background-color: #F4A261 !important;
  border-color: #F4A261 !important;
  font-family: times;
  font-weight: bold;
}

.btn-warning{
  background-color: #E9C46A !important;
  border-color: #E9C46A !important;
  font-family: times;
  font-weight: bold;
}

.btn-info{
  background-color: #2A9D8F !important;
  border-color: #2A9D8F !important;
  font-family: times;
  font-weight: bold;
}

.btn-success{
  background-color: #264653 !important;
  border-color: #264653 !important;
  font-family: times;
  font-weight: bold;
}

.tooltip {
  position: absolute;
  font-size: 15px;
  font-family: times;
  font-weight: bold;
  text-align: center;
  color: #E0E2DB;
  background: #889696;
  /* width: 150px;
  height: 60px; */
  padding: 10px;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.event {
  font-size: 12px;
  font-family: times;
  font-weight: bold;
  color: #5F7470;
  text-align: center;
  padding: 2px;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

.grid line {
  stroke: lightgrey;
  shape-rendering: crispEdges
}

.grid path {
  display: none;
  stroke-width: 0;
}
