.btn span.glyphicon {
  opacity: 0;
}

.btn.active span.glyphicon {
  opacity: 1;
}

.btn-group-vertical{
  position: absolute;
  top:100px;
  left:900px;
}

.btn-danger{
  background-color: #FA5457 !important;
  border-color: #FA5457 !important;
  font-family: Noto Sans TC;
  font-weight: bold;
}

.btn-primary{
  background-color: #FA8925 !important;
  border-color: #FA8925 !important;
  font-family: Noto Sans TC;
  font-weight: bold;
}

.btn-warning{
  background-color: #01B4BC !important;
  border-color: #01B4BC !important;
  font-family: Noto Sans TC;
  font-weight: bold;
}

.btn-info{
  background-color: #5FA55A !important;
  border-color: #5FA55A !important;
  font-family: Noto Sans TC;
  font-weight: bold;
}

.btn-success{
  background-color: #F6D51F !important;
  border-color: #F6D51F !important;
  font-family: Noto Sans TC;
  font-weight: bold;
}

.tooltip {
  position: absolute;
  font-size: 12px;
  font-family: Noto Sans TC;
  font-weight: bold;
  color: #5F7470;
  text-align: center;
  padding: 2px;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

.event {
  font-size: 12px;
  font-family: Noto Sans TC;
  font-weight: bold;
  color: #5F7470;
  text-align: center;
  padding: 2px;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

.grid line {
  stroke: lightgrey;
  shape-rendering: crispEdges
}

.grid path {
  display: none;
  stroke-width: 0;
}
